*{
    padding: 0;
    margin: 0;
}
ul{
  list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1002px;
    margin: 0 auto;
    position: relative;
 }
.header{
    height: 120px;
    overflow: hidden;
}
.logo{
    margin-top: 29px;
    float: left;
}
.nav{
    float: left;
    position: relative;
    margin-top: 50px;
    margin-left: 98px;

}
.nav li{
    float: left;
    padding: 0 25px 0 26px;
    font-size: 15px;
    color: #626262;
    position: relative;
    font-family: "PT Sans";
}

.nav li::after{
    content: '';
    width: 1px;
    height: 14px;
    position: absolute;
    right: 0;
    top:50%;
    margin-top:-7px;
    background: #6b6b6b;
}
#contact::after{
    display: none;
}
.search-box{
    width: 130px;
    height: 30px;
    background: #f1f3f6;
    position: absolute;
    right: 0;
    margin-top: 45px;
}
.tip div{
    position: absolute;
    font-size: 30px;
    color: #626262;
}
.wd{
    margin-left: 94px;
    margin-top: 546px;
}
.sm{
    margin-left: 422px;
    margin-top: 546px;
}
.ma{
    margin-left: 761px;
    margin-top: 546px;
}
.tip-imgs{
    top: 590px;
    position: absolute;
}
#font-one{
    font-size: 15px;
    position: absolute;
    top: 731px;
    left: 26px;
}
#font-two{
    font-size: 15px;
    position: absolute;
    top: 731px;
    left: 357px;
}
#font-three{
    font-size: 15px;
    position: absolute;
    top: 731px;
    left: 691px;
}